# EditorConfig هو تنسيق ملف إعدادات محرر النصوص المتوافق مع العديد من المحررات
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[*.json]
indent_size = 2

[*.{js,jsx,ts,tsx}]
quote_type = single

[*.{css,scss}]
indent_size = 2

[*.html]
indent_size = 2