# ملفات ومجلدات يتم تجاهلها من قبل Prettier

# مجلدات البناء
dist/
build/
out/
.next/

# مجلدات التبعيات
node_modules/

# ملفات أخرى
*.min.js
*.d.ts

# مجلدات أخرى
coverage/
public/

# ملفات خاصة
pnpm-lock.yaml
package-lock.json
yarn.lock
.turbo

